<form action="/students" method="post">
  <label>Student Form</label>
  <input type="text" name="first_name" value="First Name">
  <input type="text" name="last_name" value="Last Name">
  <%= submit_tag "Submit Student" %>
</form>
